<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face_AI</title>

     <!--Import Google Icon Font-->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paint.css') }}">

</head>
<body>
    <nav>
        <div class="nav-wrapper white darken-1">
            <a href="#!" class="brand-logo center form"  href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/pti_small.jpg') }}">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down form">
                <li><a class="form blue-text" href="{{ url_for('index') }}">Home</a></li>
            </ul>
          </div>
      </nav>
      <ul class="sidenav grey lighten-5" id="mobile-demo">
        <li><a class="form" href="{{ url_for('index') }}">Home</a></li>
      </ul>

    <div class="border">
        <header id="header" class="attend">
            <form action="javascript:0" id="start-cam">
                <h4>Face Recognition Portal</h4>
            </form>
        </header>
        <div class="containerz">
            <div class="row">
                <form action="javascript:0" id="show-cam" class="col s12">            
                        <div class="containerz">
                            <div class="row">  
                                <img id="attend-video" class="responsive-img" src="{{ url_for('video_feed') }}" >        
                            </div>
                        </div>  
                </form>
            </div>
        </div>
    </div>


<!-- custom js file link  -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>